.coin-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1.5rem;
}

.coin-details-image{
  margin: auto;
  display: block;
  width: 4rem;
  margin-bottom: .25rem;
}

.coin-details-name{
  font-weight: 700;
  text-align: center;
}

.coin-details-text-label{
  color: var(--gray-3);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  margin-top: .5rem;
}

.coin-details-text{
  line-height: 1.5rem;
  font-weight: 500;
}

.coin-details-subtitle{
  margin-top: 1rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25rem;
}

.return{
  background-color: white;
  color: var(--green-1);
  padding: .5rem 1rem;
  border-radius: .25rem;
  box-shadow: 0 4px 12px var(--box-shadow-color);
  transition: all 0.1s;
}

.return:hover{
  background-color: var(--green-1);
  color: white;
}

@media screen and (max-width: 640px) {
  .coin-container{
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 4rem 1rem;
  }
  .coin-container .card{
    margin-bottom: 0;
  }
  .return{
    margin-left: 1rem;
  }
}