@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&&display=swap');

:root {
  --bg-color: #EEF0F8;
  --bg-card: rgba(255,255,255,0.5);
  --bg-td-hover: rgba(56,40,188,0.08);
  --box-shadow-color: rgba(0,0,0,0.12);
  --dark-1: #3F4254;
  --gray-1: #F3F6F9;
  --gray-2: #DADEE8;
  --gray-3: #696B7B;
  --green-1: #10CA93;
  --red-1: #F25767;
  --link-color: #3828bc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 64rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

body{
  background-color: var(--bg-color);
  color: var(--dark-1);
  background-image: url('./assets/images/bg-b.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.text-spread{
  display: flex;
  justify-content: space-between;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.min-width-2rem{
  min-width: 4rem;
}

.min-width-4rem{
  min-width: 4rem;
}

.min-width-8rem{
  min-width: 8rem;
}

.min-width-10rem{
  min-width: 10rem;
}

.min-width-12rem{
  min-width: 12rem;
}

.min-width-16rem{
  min-width: 16rem;
}

.overflow-x{
  width: 100%;
  overflow-x: auto;
}

.card {
  display: block;
  overflow-x: auto;
  padding: 1.5rem;
  background-color: var(--bg-card);
  border-radius: .5rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 12px var(--box-shadow-color);
  backdrop-filter: blur(24px);
}

/* For Firefox */
@-moz-document url-prefix() { 
  .card {
    background-color: #fff;
  }
}